[Unit]
Description=Application de monitoring
After=network.target

[Service]
User=mxa
Group=mxa
Environment=NODE_ENV=production
Environment=NVM_DIR=/home/mxa/.nvm
ExecStart=/bin/bash -c 'source $NVM_DIR/nvm.sh && cd /home/mxa/server-monitor && nvm use 16 && npm start'
WorkingDirectory=/home/mxa/server-monitor
Restart=always
RestartSec=10
StartLimitBurst=5
StartLimitInterval=60s
ExecReload=/bin/kill -HUP $MAINPID

# Permissions pour gérer le dossier et éviter des erreurs dues aux permissions
PermissionsStartOnly=true
ExecStartPre=/usr/bin/sudo /bin/chown -R mxa:mxa /home/mxa/server-monitor

[Install]
WantedBy=multi-user.target
