[Unit]
Description=Application de monitoring
After=network.target

[Service]
User=user
Environment=NVM_DIR=/home/user/.nvm
ExecStart=/home/user/.nvm/versions/node/vXX.XX.XX/bin/node /usr/local/bin/npm start
WorkingDirectory=/home/user/raspi-monitor-dashboard
Restart=always
RestartSec=10
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
